extends ../homepage/layouts/header

block content 
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(src='/styles/login_style')
    // ---- Include the above in your HEAD tag --------
    div#login
        h3.text-center.text-white.pt-5 Login form
        div.container
            div#login-row.row.justify-content-center.align-items-center
                div#login-column.col-md-6
                    div#login-box.col-md-12
                        form#login-form.form(action='', method='post')
                            h3.text-center.text-info Login
                            div.form-group
                                label.text-info(for='email') Email:
                                br
                                input#email.form-control(type='text', name='email')
                            div.form-group
                                label.text-info(for='password') Password:
                                br
                                input#password.form-control(type='text', name='password')
                            div.form-group
                                label.text-info(for='remember-me')
                                    span Remember me
                                    span
                                    input#remember-me(name='remember-me', type='checkbox')
                                br
                                input.btn.btn-info.btn-md(type='submit', name='submit', value='submit')
                            div#register-link.text-right
                                a.text-info(href='#') Register here
